@font-face {
    font-family: 'pokemon GB';
    src: url(./fonts/PokemonGb-RAeo.ttf);
}

body {
    margin: 0;
    background-color: hsl(200, 91%, 70%);
    background-image: url(./images/squirtleBG.jpg);
    border-radius: 20px;
    font-family: 'pokemon GB', cursive;
}

nav {
    flex: 1 1 0;
    display: flex;
    margin: 2px;
    font-size: x-large;
    list-style-type: none;
    background-color: royalblue;
    background-image: linear-gradient(skyblue 1%,royalblue, skyblue 99%);
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    border: 5px outset darkblue;
    border-radius: 20px;
    
}

.nav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.nav li {
    flex: 1 1 0;
}

nav a {
    text-decoration: none;
    color: yellow;
    text-shadow: -2px -2px darkblue;
    padding: 10px;
    flex: 1 1 0;
    width: fit-content;

}

nav a:hover {
    font-weight: bold;
    color:white;
    text-decoration: underline;
}

li {
    border-right: 3px solid yellow;
    box-shadow: -2px 0 inset darkblue;
    
}

li:last-child {
    border: none;
}

content {
    display: grid;
    grid: 1fr 1fr / 1fr 6fr;
    margin-top: 0;
    width: 100%;
}

aside {
   grid-row: 1 / 3;
   grid-column: 1 / 2;
   text-indent: 20px;
   text-align:justify;
   border: 10px outset darkblue;
   border-radius: 20px;
   padding: 4px;
   hyphens: auto;
   word-wrap: break-word;
   background-image: linear-gradient(to bottom right, lightgrey, grey, darkgrey);
   margin: 4px;
}

.cardContainer {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    width: 1fr;
    margin: 4px;
}

.card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 1fr;
    width: 1fr;
    border: 10px outset darkblue;
    border-radius: 20px;
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: hsl(200, 91%, 70%);
    background-image: linear-gradient(to bottom right, skyblue 25%,blue, skyblue);

}

.card3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 1fr;
    width: 1fr;
    border: 10px outset darkblue;
    border-radius: 20px;
    position: relative;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(to bottom right, skyblue 25%,blue, darkblue, blue, skyblue);
}

.card img {
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: -5px 5px 5px darkblue;

}

.card3 img {
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: -5px 5px 5px darkblue;

}

.imgMons {
   max-width: 350px;
}

.stats {
    max-width: 500px;
    min-width: 437px;
}

.card::after {
    content: "➪";
    font-size: 65px;
    font-weight: bolder;
    position:absolute;
    right: -80px;
    top: 50%;
}
.bioContainer {
    grid-row: 2 / 3;
    width: 1fr;
    border: 10px outset darkblue;
    border-radius: 20px;
    margin: 4px;
    background-image: linear-gradient(to bottom right, darkblue 25%,blue, skyblue, blue, darkblue);
}



