@font-face {
    font-family: 'pokemon GB';
    src: url(./fonts/PokemonGb-RAeo.ttf);
}

html {
    font-size: 90%;
    
}

body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    min-height: 100vh;
    background-image: url("https://cdn.wallpapersafari.com/21/71/A4g7nL.jpg");
    background-size: cover;
}

nav {
    flex: 1 1 0;
    display: flex;
    margin-bottom: 93vh;
    font-family: 'pokemon GB', cursive;
    font-size: x-large;
    list-style-type: none;
    background-color: red;
    background-image: linear-gradient(#e96565 1%, red, #e96565 99%);
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    border: 5px outset rgb(148, 49, 49);
    border-radius: 20px;  
}

.nav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.nav li {
    flex: 1 1 0;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    flex: 1 1 0;

}

nav a:hover {
    font-weight: bold;
    color:white;
    text-decoration: underline;
}

li {
    border-right: 3px solid black;
    
}

li:last-child {
    border: none;
}
